*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    width: 400px;
    
}
h1{
    text-align: center;
}
main{
    
    display: flex;
    flex-direction: column;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  picture {
    width: 400px;
    animation: fadeIn 10s ease-in-out;
  }
  