*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family:'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center; 
    height: 10%;
}

header h1 {
    padding: 30px;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color:white
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    display: block;  
}

nav a:hover {
    color: papayawhip; 
    background-color: #555; 
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightgray;
    color:black;
}

main section {
    background-color: whitesmoke;
    color: #000;
}


h2 {
    display: block;
    height: 10%;
    color: white;
    background-color: #333;
    border-radius: 8px 8px 0px 0px;
    font-size: 1.5rem;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 10px;
}

.card {
    background-color: white;
    color: #000;
    margin: 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    padding: 4rem;
  }
  
  .row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; 
  }
  
  .img-right {
    order: 2; 
    max-width: 300px; 
    height: 300px;   
}
  
  .img-left {
    order: 1; 
    max-width: 300px;   
}
  
  .txt-left {
    order: 1; 
    flex: 1; 
    font-size: larger;
    line-height: 2rem;
  }
  
  .txt-right {
    order: 2; 
    flex: 1; 
    font-size: larger;
    line-height: 2rem;
  }

  .dev-tools{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin-left: 50px;
    height: 80%;
  }
  
  .dev-tools a{   
    padding: 10px;
    display: block;
  }
footer {
    display: block;
    text-align: center;   
    height: 5rem;
    background-color: #333;
    color: white;
    
}
.paragraph-1{
    color: white;
    padding: 1rem;
    background-color:#333;
}
.paragraph-2{
    color: yellow;
    background-color:#333;
}